// Color system
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Color Scheme
$blue:    #25AAE1 !default;
$indigo:  #AA00FF !default;
$purple:  #D500F9 !default;
$pink:    #e83e8c !default;
$red:     #E4002B !default;
$orange:  #FF6D00 !default;
$yellow:  #ffc107 !default;
$green:   #43B02A !default;
$teal:    #1DE9B6 !default;
$cyan:    #00B8D4 !default;
$dark-blue: #0F75BC !default;

// Common Colors
$primary:       $green !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

//Theme Colors
$primaryDark: darken($primary, 5%);
$primaryLite: lighten($primary, 45%);

//LoginLog width
$logoWidth:25rem;
$Logomargin:50px;

// primary btn color scheme
$primaryBtnBackground: $white;
$primaryBtnFontColor: $primary;
$primaryBtnBorder: $primary;
$primaryBtnFocusBackground:$primaryLite;
// secondary btn color scheme
$secondaryBtnBackground: $white;
$secondaryBtnFontColor: $primary;
$secondaryBtnBorder: $primary;
$secondaryBtnFocusBackground:$primaryLite;
// text btn color scheme
$textBtnFontColor:$primary;
$textBtnBackground:$white;
// filter btn color scheme
$filterBtnBackground: $white;
$filterBtnFontColor: $primary;
$filterBtnFocusBackground: $primaryLite;
$filterBtnFocusFontColor: $primary;
$filterBtnBorder: $primary;

//sideNav color scheme
$sideNavBackground:$primary;
$sideNavBackgroundDark:$primary;
$sideNavFontColor:$white;
$activeNavLinkBackground: lighten($primary, 22.5%);
$newBtnFontColor: $primary;
$newBtnBackground: $white; 

// Titles
$primaryTitle: $primary;
$secondaryTitle: $secondary;
$infoTitle: $primary;
$successTitle: $success;
$warningTitle: $warning; 

//Inputs
$checkboxBackground: $primary; 
$inputBorderColor:$primary;

//Table
$tableTitleFontColor:$primary;
$hoverTableRowBackground: rgba($primary,.1);

//icons
$primaryIconColors: $primary;

//links
$callToActionLinkFontColor: $primary;

//tabs
$activeTabBackground: $primary;
$activeTabBackgroundDark: $primaryDark;
$activeTabFontColor: $white;

//Tiles
$greenTileBackground: $green;
$greenTileBackgroundDark: darken($green, 10%);
$brightGreenTileBackground: #0ed4ad;
$brightGreenTileBackgroundDark: #0ed4ad;
$blueTileBackground: #009ff3;
$blueTileBackgroundDark: #009ff3;
$redTileBackground: #e4002b;
$redTileBackgroundDark: #e4002b;
$darkBlueTileBackground: #1a709d;
$darkBlueTileBackgroundDark: #1a709d;
$purpleTileBackground: #bf00fb;
$purpleTileBackgroundDark: #bf00fb;
$yellowTileBackground: #FFD54F;
$yellowTileBackgroundDark: #FFD54F;
$tileFontColor: $white;
$tileRadius: 0.3em;

//filters
$greenFilter:$brightGreenTileBackground;
$greenFilterDark:$brightGreenTileBackground;
$orangeFilter:$yellowTileBackground;
$orangeFilterDark:$yellowTileBackground;
$primaryFilter:$darkBlueTileBackground;
$primaryFilterDark:$darkBlueTileBackground;
$blueFilter:$blueTileBackground;
$blueFilterDark:$blueTileBackground;
$violetFilter:$purpleTileBackground;
$violetFilterDark:$purpleTileBackground;
$redFilter:$redTileBackground;
$redFilterDark:$redTileBackground;

// Inputs
$input-height: auto;
$input-border-radius: 8px !default;


